<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        /* Add your custom CSS styles here */
        /* For example: */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #777;
        }
    </style>
</head>
<body>
    <h1>Error</h1>
    <p>An error occurred. Please try again later.</p>
    <a href="{% url  'home' %}">BACK</a>
</body>
</html>
